.App {
  margin: 2em;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.actions {
  padding: 1em''
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
