.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em;
  padding: 1em;

  text-align: center;

  height: 4rem;
  min-width: 10rem;

  border-radius: 5px;

  background-color: lightblue;
}

.delete-btn {
  position: relative;
  top: -50%;
  left: 0px;
  background-color: red;
  width: 1em;
}
