.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin: 1em;
  padding: 1em;

  text-align: center;

  height: 4rem;
  min-width: 10rem;
  border-radius: 5px;

  background-color: lightblue;
}

.delete-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgb(216, 37, 37);
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
